@import "reset.sass" 
@import "colors.sass"
@import "fonts.sass"

body
  width: 100vw

.main-header
  position: relative
  height: 900px
  background: url("/src/public/backgrounds/header_bg.jpg")
  background-repeat: no-repeat
  color: $white
  border-top: 1px solid transparent

.main-header__contacts
  height: 20px
  width: 1110px
  color: $white
  margin: 0 auto
  margin-top: 30px
  display: flex
  align-items: center
  justify-content: space-between
  font-family: Montserrat_Med 
  font-size: 13px

.main-header__nav-bar ul
  width: 1110px
  height: 47px
  margin: 0 auto
  margin-top: 20px
  font-family: Montserrat_Med
  font-size: 14px
  line-height: 47px
  display: flex
  align-items: center
  justify-content: space-around
  border-top: 1px solid $white
  border-bottom: 1px solid $white

.main-header__nav-bar ul li
  list-style: none
  display: block
  height: 47px
  width: 275px
  text-align: center
  border-right: 1px solid $white 

.main-header__nav-bar__last-element
  border-right: none !important

.main-header__buttons-container
  display: flex
  width: 415px
  height: 50px
  align-items: center
  justify-content: space-between
  position: absolute
  top: 700px
  left: 752px

.main-header__buttons-container__button
  width: 203px
  height: 50px
  background-color: $btn_gold
  font-family: Montserrat_Med
  font-size: 16px
  border: none
  color: $white

.main-text
  background-color: $main-text-bg
  height: 856px
  display: flex
  align-items: center
  justify-content: space-around

.main-text__text-container
  width: 1110px
  height: 656px
  border: 3px solid $main-text-border

.main-text__text-container__header
  color: $white
  text-align: center
  font-size: 36px
  line-height: 54px
  margin-top: 60px

.main-text__text-container__line
  height: 0px
  width: 160px
  border-top: 1px solid $white
  margin: 0 auto
  margin-top: 40px

  



